.wrapper {
}
.squares_container {
  display: flex;
  justify-content: center;
}
.status {
  margin-bottom: 10px;
  color: white;
  font-size: 30px;
  text-align: center;
  font-family: cursive;
  @media (max-width: 767px) {
    font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (767 - 320)));

  }
}
