.info_wrapper {
  padding: 20px;
}

.my_info_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; // Allows content to wrap on smaller screens
}

.info {
  font-family: cursive;
  margin: 0 20px;
  flex: 1;
  font-size: 20px;
  line-height: 1.6;
  text-align: justify;
}

.my_foto {
  border-radius: 15% 1%;
  border: 5px solid rgba(255, 255, 255, 0.6);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  max-width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.my_foto:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .my_info_container {
    flex-direction: column;
    text-align: center;
  }

  .info {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
