/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body,
html {
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  background: linear-gradient(135deg, #ff9a9e, #fad0c4, #fad0c4, #ffd1ff);
  color: #fff;
  -ms-overflow-style: none; /* IE и Edge */
  -webkit-overflow-scrolling: touch; /* iOS */
  overflow: -moz-scrollbars-none; /* Firefox */
  -ms-user-select: none; /* IE */
  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Safari */
  user-select: none;
  font-family: cursive;
}
input,
button,
div,
p,
span {
  box-sizing: border-box;
  font-family: inherit;
  margin: 0;
  outline: none;
}
input:focus,
textarea:focus,
button:focus,
button {
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent; /* Disable the tap highlight color */
}
/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal; /* Remove default bold */
}

/* Lists */
ul,
ol {
  margin: 0;
  padding-left: 20px;
  list-style-position: inside;
}

/* Paragraphs */
p {
  margin: 0;
  padding: 0;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}
button {
  outline: none;
  border: none;
}
/* Tables */

th,
td {
  padding: 8px;
  text-align: left;
}

code {
  font-size: 1.2em;
}
/* fonts */

@font-face {
  font-family: "Dancing Script";
  src: url("./assets/fonts/DancingScript-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.beauty_font {
  font-family: "Dancing Script", sans-serif;
  font-size: 44px;
  font-weight: 500;
}
/* fonts */

/* Additional resets as needed */
.main_page_wrapper {
  max-width: 2000px;
  margin: 0 auto;
}
/* Beauty Button */
.button-30 {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
    #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 40px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  width: 100%;
  align-items: center;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: inherit;
}

.button-30:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
    #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

/* ====================== */

.button-55 {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  line-height: 23px;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}
.works_title {
  margin-top: 60px;
  font-size: 35px;
  text-align: center;
}
.project_title_container {
  margin-top: 20px;
  text-align: center;
  font-size: 35px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.project_title_container p {
  display: inline-block;
  /* width: 30%; */
  margin: 0 20px;
}

.project_title_container .line {
  display: inline-block;
  width: 30%;
  height: 2px;
  background-color: #fff;
  vertical-align: middle;
}
@media (max-width: 767px) {
  .project_title_container {
    font-size: calc(20px + (35 - 20) * ((100vw - 320px) / (767 - 320)));
  }
  .works_title {
    font-size: calc(20px + (35 - 20) * ((100vw - 320px) / (767 - 320)));
  }
}
