.game_wrapper {
  text-align: center;
  margin-top: 60px;
}
.game_variant {
  margin-top: 20px;
  text-align: center;
  .text {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

.how_to_play_btn {
  margin: 0 10px;
  width: 200px;
}
.game {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-size: 18px;
  & ol {
    list-style-type: none;
    width: 200px;
  }

  @media (max-width: 767px) {
    .game_info {
      padding-left: 0;
    }
    ol {
      max-width: 150px;
      font-size: 14px;
    }
  }
}
.game_board {
  width: 50%;
  height: 500px;
  display: flex;
  justify-content: center;
}
.game_info {
  margin-top: 25px;
  padding-left: 50px;
  max-height: 500px;
}
